
* {
    font-family: "montserratregular", sans-serif;
}

/* Theme */



a:hover{
    text-decoration: none;
}

.title{
    text-align: center;
    font-family: montserratlight, sans-serif;
    letter-spacing: 0;
    font-style: italic;
    text-transform: uppercase;
    opacity: 1;
}
