/* Navbar */
/*

/* Logomarca */
nav.navbar{
    box-shadow: 0px 3px 36px #00000029;
}
    nav.navbar .navbar-brand{
        position: relative;
    }
        nav.navbar .navbar-brand img {
            height: auto;
            width: auto;
        }


/* Parte superior da navbar */
nav .navbar-top{
    justify-content: space-between;
    border-bottom: solid 1px #DBDBDB;
    padding: 14px 0;
}
    .navbar-social{
        display: flex;
        align-items: center;
    }

        .navbar-social .nav-icon{
            color: #898989;
            width: 23px;
            height: 23px;
            line-height: 23px;
            text-align: center;
            margin: 0 6px;
            transition: .3s;
            border-radius: 30px;
            border: solid 1px #898989;
        }
            .navbar-social .nav-icon:hover{
                background: #008ED6;
                color: var(--white-color);
                border-color: #008ED6;
            }

        .navbar-social i{
            font-size: 13px;
            margin-top: 5px;
            display: block;
        }

    /* Login e carrinho */
    nav .navbar-top .navbar-login{
        color: #898989;
    }
        nav .navbar-top .navbar-login a.link{
            font-size: 14px;
            color: #898989;
        }
        nav .navbar-top .navbar-login .btn-success{
            height: 34px;
            padding: 0 .8rem;
        }
            nav .navbar-top .navbar-login .btn-success i{
                font-size: 16px;
            }

/* Menu */
nav .navbar-links{
    display: flex;
    margin: 10px 0;
    color: var(--primary-color);
}
.navbar-nav{
    width: 100%;
    justify-content: flex-end;
}
nav.navbar ul.navbar-nav li.menu-item a {
    font-size: 14px;
    font-weight: lighter;
    color: #434343;
    margin: 0 40px;
    padding: 0;
    font-weight: 600;
    position: relative;
}
    nav.navbar ul.navbar-nav li.menu-item a:hover::before {
        content: "";
        width: 100%;
        height: 3px;
        background: var(--primary-color);
        bottom: -10px;
        left: 0;
        position: absolute;
    }

    nav.navbar ul.navbar-nav li.menu-item:first-child a{
        margin-left: 0;
        padding-left: 0;
    }
    nav.navbar ul.navbar-nav li.menu-item:last-child a{
        margin-right: 0;
        padding-right: 0;
    }

        nav.navbar ul.navbar-nav li.menu-item .dropdown-menu a:hover {
            color: var(--primary-color);
        }
        nav.navbar ul.navbar-nav li.menu-item .dropdown-menu a {
            color: #fff;
        }


nav.navbar li.menu-item:last-child {
    margin-right: 0 !important;
}

nav.navbar span.navbar-whatsapp-label {
    font-size: 11px;
    color: #7a8f83;
    padding: 21px;
    text-transform: uppercase;
}

/* Submenu */
.dropdown-menu {
    left: inherit;
    padding: 25px 20px;
    border-radius: 0;
    border: 0;
    background: #192c32;
}
    .dropdown-menu a {
        text-transform: uppercase;
        font-size: 12px;
        line-height: 14px;
        padding: 8.5px !important;
    }
        .dropdown-menu a:hover {
            background: transparent !important;
        }
        nav.navbar.navbar-two ul.navbar-nav .dropdown-menu li.menu-item a{
            color: var(--white-color);
        }
            nav.navbar.navbar-two ul.navbar-nav .dropdown-menu li.menu-item a:hover{
                color: var(--primary-color);
            }

            .nav-link{
                padding: 0
            }

.navbar-light .navbar-nav .show>.nav-link {
    color: var(--primary-color);
}



@media (max-width: 1024px) {

    nav .navbar-links{
        display: block;
    }

    nav .nav-icon{
        display: inline-block;
        margin: 2rem 1rem !important;
    }

    nav.navbar ul.navbar-nav li.menu-item{
        padding: 15px 0;
        margin-right: 0;
        text-transform: uppercase;
    } 

    nav.navbar .navbar-brand img{
        width: 90px;
        height: 40px;
        object-fit: contain;
    }
    nav.navbar .navbar-brand{
        padding-left: 1rem;
    }

    .navbar-toggler{
        padding: 5px;
    }

    nav.navbar span.navbar-whatsapp-label {
        display: block;
        padding: 10px 0;
    }
    .navbar-expand-lg>.container{
        justify-content: start;
        position: relative;
    }
    .navbar-toggler{
        position: absolute;
        right: 20px;
        top: 6px;
        border: 0;
        background: var(--primary-color);
        border-radius: 0;
        outline: none !important;
    }
    .navbar-toggler span{
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
    }
    .navbar-collapse{
        text-align: center;
        padding: 1rem;
    }
}
@media (max-width: 990px) {

}