//Customizar cores
$primary-color: #1BDC68;
$secondary-color: #1CCAF4;

//ootstrap colors
$theme-colors:(
        "primary-color": $primary-color,
        "secondary-color": $secondary-color,
);

//padronizar cor do link
$link-color: $primary-color;

$enable-rounded: false;

@import "../node_modules/bootstrap/scss/bootstrap";


.news{
        .card, 
        .list-group
        {
                .card-img-top{
                        height: 200px;
                        object-fit: cover;
                }
                .card-title{
                        color: $primary-color;
                }
        }
}

.carousel{
        .carousel-item img{
                height: 500px;
                object-fit: cover;
        }
}